.card {
  border: 1px solid #dbdbdb;
  background-color: whitesmoke;
  margin-bottom: 1em;
  border-radius: 5px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75em;
}
header.profile {
  margin-bottom: 0;
}

.cardImage {
  width: 100%;
  display: block;
}

.likedBy {
  display: flex;
  padding-left: 1em;
}
span {
  font-size: 0.75em;
  margin-left: 0.5em;
  padding-top: 0.5em;
}

.comments {
  margin-bottom: 0.75em;
}

.timePosted {
  font-size: 0.6em;
  padding-left: 2em;
  padding-bottom: 1em;
  color: #8e8e8e;
  border-bottom: 1px solid #efefef;
}

.addComment {
  display: flex;
  justify-content: space-between;
  font-size: 0.85em;
  padding: 1.5em 1.25em;
}

.commentText {
  color: #574f4f;
}

form {
  display: flex;
}
/* form button {
  margin-left: 250px;
} */
.postText {
  color: #574f4f;
}

@media only screen and (max-width: 440px) {
  .card {
    border: none;
    background-color: fafafa;
    margin-bottom: 0;
  }
  .addComment {
    display: none;
  }

  .timePosted {
    border: none;
  }
}
