.cardMenu {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}
.interactions {
  padding-left: 1em;
}
.icon {
  margin-right: 1em;
  width: 23px;
  height: 23px;
}
.kiss {
  width: 23px;
  height: 23px;
  border-radius: 50%;
}
.icon:hover {
  cursor: pointer;
}
