.menu {
  display: flex;
  padding-right: 1.5em;
  align-items: baseline;
}
.menu:hover {
  cursor: pointer;
}
.explore {
  margin-right: 1.5em;
  width: 23px;
  height: 23px;
}
.Kiss {
  margin-right: 1.5em;
  width: 23px;
  height: 23px;
  border-radius: 50%;
}
.upload {
  margin-right: 1.5em;
  width: 23px;
  height: 23px;
}
