.stories {
  display: flex;
  align-content: center;
  background-color: rgb(255, 148, 114);
  border: 1px solid rgb(255, 148, 114);
  border-radius: 3px;
  margin: 6em 0 1.5em 0;
  height: 7.4em;

  overflow: hidden;
}

@media only screen and (max-width: 640px) {
  .stories {
    margin: 6em 0 0.5em 0;
  }
}
